.proj-div {
  padding: 4em 2em 0 2em;
  .subtitle {
    text-transform: unset;
    letter-spacing: unset;
  }

  .qr {
    height: 500px;
    width: auto;
  }

  &:last-child {
    margin-bottom: 4em;
  }

  .anchors {
    text-decoration: none;
  }
}

.projs-outer-div {
  margin-bottom: 4em;
}
