.skills-div {
  background-color: $my_blue;
  // padding: 4em 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  // cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
  //     39 39,
  //   auto;
  position: sticky;
  color: black;
}

#skills-inter {
  // background: unset;
  background-color: #f7c008 !important;
}

.card {
  background-color: white;
  // padding: 2em 4em;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  width: 5em;
  height: 5em;
  // &:nth-child(5) {
  //   margin-bottom: 0 !important;
  // }
  // &:nth-child(6) {
  //   margin-bottom: 0 !important;
  // }
  margin: 0.5em;
}

.temp {
  background-color: $my_blue;
  color: white;
  // color: #f7c008;
  padding: 2em 2em;

  h2 {
    margin-top: 0;
  }
}

.inter {
  color: $my_blue;
  color: black;
  background-color: #f7c008 !important;
}

.card-logo {
  height: 60px;
  width: 60px;
  margin-bottom: 0.5em;
  // margin: 0 auto;
  // display: grid;
  // place-content: center;
}

.skills-img {
  // height: 4em;
  width: 3.5em;
  height: 3.5em;
  user-select: none;
  margin-bottom: 0.25em;
}

.subtitle-card {
  font-weight: bold;
  user-select: none;
}

// @media only screen and (min-width: 400px) {
//   .card {
//     &:nth-child(5) {
//       margin-bottom: 1em !important;
//     }
//     &:nth-child(6) {
//       margin-bottom: 1em !important;
//     }
//   }
// }

// .arrows {
//   display: none !important;
// }

@media only screen and (min-width: 750px) {
  .skills-div {
    // width: inherit;
    // display: grid;
    // grid-template-columns: 33% 33% 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    // padding: 4em 0em !important;
    // margin: 2em;

    .card {
      margin: 1em;
      // padding: 4em 2em;
    }
  }

  .wrapper-skills {
    // width: calc(200vw + 4em);
    // background-color: $my_blue;
    // display: flex;
    // display: grid;
    // grid-template-columns: 5% 90% 5%;
    // place-content: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // align-items: center;
    // justify-content: center;
    // justify-content: space-between;
    // padding: 0 2em;
  }

  // .arrows {
  //   display: unset !important;
  //   height: 2.5em !important;
  //   width: 2.5em !important;
  //   color: white;

  //   &:hover {
  //     cursor: pointer;
  //   }
  // }
}
