.skills-div {
  background-color: $my_blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  color: black;
}

#skills-inter {
  background-color: #f7c008 !important;
}

.card {
  background-color: white;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5em;
  height: 5em;
  margin: 0.5em;
}

.skills-flex {
  background-color: $my_blue;
  color: white;
  padding: 2em 2em;

  h2 {
    margin-top: 0;
  }
}

.inter {
  color: $my_blue;
  color: black;
  background-color: #f7c008 !important;
}

.card-logo {
  height: 60px;
  width: 60px;
  margin-bottom: 0.5em;
}

.skills-img {
  width: 3.5em;
  height: 3.5em;
  user-select: none;
  margin-bottom: 0.25em;
}

.subtitle-card {
  font-weight: bold;
  user-select: none;
}

@media only screen and (min-width: 750px) {
  .skills-div {
    width: 100%;
    display: flex;
    flex-direction: row;

    .card {
      margin: 1em;
    }
  }

  .skills-flex {
    width: 100%;
  }

  .wrapper-skills {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 1050px) {
  .skills-flex {
    padding: 4em 2em;
  }
}

@media only screen and (min-width: 1250px) {
  .skills-flex {
    padding: 4em 5em;
  }
}
