@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.home-div .social-div,
.home-div .home-svg {
  display: none;
}

img {
  width: 100%;
}

.nav-div {
  background: #079f8e;
  color: white;
}

.nav-div .main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
}

.nav-div .name {
  color: #f7c008;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-div .sub-headers-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-div .sub-headers-div .sub-headers {
  padding: 0 0.25em 0 0.25em;
}

.welcome-div {
  display: -ms-grid;
  display: grid;
  height: auto;
  background: #08baa6;
}

.welcome-div .left-home-text {
  padding: 4em;
}

.welcome-text {
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}

.meet-span {
  color: #2433eb;
  font-weight: bold;
}

@media only screen and (min-width: 1050px) {
  .welcome-div {
    height: 90vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    text-align: left;
    background: unset;
  }
  .welcome-div h1 {
    text-align: left;
    font-size: 3.2em;
    line-height: 1.2em;
  }
  .welcome-div .left-home-text {
    background: #08baa6;
    padding: 6em 8em 6em 4em;
  }
  .sub-headers {
    padding: 0 1em 0 1em !important;
  }
  .logo-svg {
    height: 500px;
    width: 500px;
  }
  .nav-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-div .main-div {
    background: #079f8e;
    padding: 2em 4em 2em 4em;
  }
  .nav-div .social-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
  }
  .nav-div .social-div img {
    width: 30px;
    padding: 1em;
  }
  .home-svg {
    display: unset !important;
    margin-left: -49%;
    margin-top: 30%;
    width: 100%;
  }
}

.header-anchors {
  text-decoration: none;
  color: white;
}

.header-anchors:active {
  color: unset;
}

.summer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4em 2em;
  position: relative;
}

.triangle-div {
  position: absolute;
  top: 1em;
  left: 5em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}

.subtitle {
  color: #021ded;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 0.9em;
}

.title {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.8em !important;
  margin-bottom: 0 !important;
}

.p-description {
  color: #3b3b3b;
  margin-bottom: 3em;
}

.triangle {
  position: relative;
  background-color: orange;
  opacity: 33%;
  text-align: left;
}

.triangle:before,
.triangle:after {
  content: "";
  position: absolute;
  background-color: inherit;
}

.triangle,
.triangle:before,
.triangle:after {
  width: 100px;
  height: 100px;
  border-top-right-radius: 30%;
}

.triangle {
  -webkit-transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
          transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
}

.triangle:before {
  -webkit-transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
          transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
}

.triangle:after {
  -webkit-transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
          transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}

@media only screen and (min-width: 800px) {
  .summer-div {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .p-description {
    margin-bottom: 0 !important;
  }
  .right-img {
    margin-left: 2em;
    margin-top: 1em;
  }
}

.skills-div {
  background-color: #021ded;
  padding: 4em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  background-color: white;
  padding: 2em 4em;
  margin-bottom: 1em;
  border-radius: 1em;
}

.card-logo {
  height: 60px;
  width: 60px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.subtitle-card {
  font-weight: bold;
}

@media only screen and (min-width: 800px) {
  .skills-div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
  }
  .skills-div .card {
    margin: 1em;
    padding: 4em 2em;
  }
}

.proj-div {
  padding: 4em 2em 0 2em;
}

.proj-div .subtitle {
  text-transform: unset;
  letter-spacing: unset;
}

.proj-div .qr {
  height: 500px;
  width: auto;
}

.proj-div:last-child {
  margin-bottom: 4em;
}

.proj-div .anchors {
  text-decoration: none;
}

.projs-outer-div {
  margin-bottom: 4em;
}

@media only screen and (min-width: 800px) {
  .proj-div {
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .proj-div .qr {
    height: 400px;
  }
  .wrapper-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .proj-image-div {
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin-left: 2em;
  }
}

body {
  font-family: "Lato", sans-serif !important;
}
/*# sourceMappingURL=main.css.map */